@import "../../assets/CSS/Colors.css";

.about {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content-left {
  background: var(--header-background-color) no-repeat center center/cover;
  width: 3450px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  flex-basis: 40%;
  position: relative;
}

.about-content-left img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.about-content-right {
  width: 3450px;
  height: 480px;
  margin-top: 15px;
  flex-basis: 56%;
}

.about-content-right h3 {
    font-weight: 600;
    font-weight: 16px;
    color: var(--secondary-color);
}

.about-content-right h2 {
    font-size: 35px;
    color: var(--primary-text-color);
    margin: 10px 0;
    max-width: 400px;
}

.about-content-right p {
    margin-bottom: 15px;
    line-height: 1.5;
    color: var(--primary-text-color);
}